@font-face {
    font-family: 'FiraSans';
    src: url('FiraSans-Regular.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'FiraSans';
    src: url('FiraSans-Black.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'FiraCode';
    src: url('Fira Code Regular Nerd Font Complete.ttf');
    font-weight: 300;
}

:root {
	--dark-bg: rgba(15, 15, 15, 0.00);
	--light-bg: #00ccff00;
    --light-fg: #bbc5ef;
    --dark-fg: #1b1c28;
    --hl-color: #759bec;
	--spacing: 4em;
	font-family: arial, sans-serif;
	font-weight: 400;
	font-style: normal;
/*	background: radial-gradient(circle, rgb(74, 85, 128) 0%, rgb(0, 0, 0) 100%);*/
}

body {
  /*  position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;*/
	background: radial-gradient(circle, rgb(74, 85, 128) 0%, rgb(0, 0, 0) 100%);
}

canvas {
  /*position: fixed;*/
  top: 0;
  left: 0;
}

#logo_container {
    width: 100%;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    position: relative;
    margin: none;
    padding: 0;
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
    margin-bottom: 0.5em;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--dark-fg);
}

.menu_point {
    display: flex;
    background-color:#759bec;
    color: #1b1c2e;
    border-radius: 15px;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    align-items: center
}

.menu_point:hover {
    background-color: #97bdfe;
}

.icon {
    width: 40px;
    height: 40px;
    padding: 5px;
    text-align: center;
    align-items: center;
    display: inline-grid;
    font-family: FiraCode;
}

/*   body {    margin: 0; }*/

main {
  color: white;
  /*z-index: 99;*/
  position: absolute;
  width: 100%;
  top: 100%;
  /*display: grid;*/
}

#main_view {
    position: fixed;
}

h1, h2, h3 {
  font-family: FiraSans;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

hr {
   color: var(--light-fg);
}

  header {
      --bg-color: #000000;
      position: relative;
      left: 0;
      top: 0;
      height: 85vh;
      width: 25vw;
      background: var(--light-bg);
      grid-column: 2 / span 5;
      font-size: 2.5rem;
      padding: 2rem;
/*      background-color: #1b1c28;*/
      border-radius: 1em 1em 1em 1em;
      border: 2px solid #73AD21;
      border-left: none;
      border-image:
	  linear-gradient(
	      to bottom,
	      #ffffff00,
	      #ffffff70,
	      #ffffff,
	      #ffffff40,
	      #ffffff00
	  ) 1 100%;
      color: var(--light-fg);
      margin: 1em;
      box-shadow: 5px 0px 50px #1b1c28;
      font-family: FiraSans;
      display: inline-table;
  }

  header h1 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
  }

  section {
      position: absolute;
/*      padding: 1.5em;*/
      background: var(--dark-bg);
      font-size: 1.25rem;
      line-height: 1.5;

      color: var(--light-fg);

/*      backdrop-filter: blur(59.5px) contrast(126.2%);
      -webkit-backdrop-filter: blur(59.5px) contrast(126.2%);*/

      border-radius: 1em 1em 1em 1em;
      /*box-shadow: 5px 0px 50px #1b1c28;*/
      right: 0;
      left: 0;
      margin-left: 1em;
      margin-right: 1em;
  }

  .vibrancy {
      backdrop-filter: blur(59.5px) contrast(126.2%);
      -webkit-backdrop-filter: blur(59.5px) contrast(126.2%);
  }

  #about {
      width: 60%;
      left: 30vw;
      height: 91vh;
      margin-bottom: 5em;
      background-color: #00000055;
      overflow: hidden;
  }

   h2 {
      font-size: 2em;
  }

   h3 {
      font-size: 1.5em;
  }

  #table {
      display: flex;
  }

  #table h3 {
      text-align: left;
  }

  #table li {
      display: flex;
      align-items: center;
      justify-content: left;
      font-weight: 600;
      margin: 0;
  }

  .left {
      width: 50%;
  }

  .right {
      width: 50%;
  }

  .italic {
      font-style: italic;
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .dark_bg {
      background-color: #1b1c28;
      position: absolute;
  }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.grid_element {
    background-color: #1b1c2e;
    border-radius: 10px;
    text-align: center;
/*    width: 9vw;
    height: 9vw;*/
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 600;
    margin-top: 1em;
/*    grid-area: 1 / 1 / 0 / 0;*/
}

.grid_element:hover {
    background-color: #759bec;
    color: #1b1c2e;
}

#cv {
    top: 100vh;
    margin: 2em;
    background-color: #1b1c2e;
    /*    height: 90vh;*/
}

#cv_img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#cv img {
    margin-top: 1em;
    width: 50%;
}

#projects {
    position: absolute;
    padding: 2em;
    margin-top: 3em;
}

#vision {
    position: absolute;
    padding: 2em;
    margin-top: 18em;
}

#setup {
        position: absolute;
    padding: 2em;
    margin-top: 26em;
}

.centered {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card {
    /* position: absolute;*/
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
/*    background-color: #5379ca;*/
    margin: 0;
    margin-top: -17px;
    padding: 5px;
    padding-left: 25px;
    border-radius: 1em 1em 0 0;
    box-shadow: 5px -10px 20px #00000055;
    cursor: pointer;
}

#about_top {
  padding: 1.5em;
}

.padding {
  padding: 1.5em;
}
